.heart-bck {
  top: 7px;
  right: 7px;
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 50%;
  position: absolute;
  background: rgba(234, 234, 234, .6);
  z-index: 100;
}

.heart {
  width: 30px;
  height: 30px;
  margin: auto;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}
.heart-bck:hover {
  color: #842029;
}

.red{
  color: red;
}